
.loginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 83px;
    width: 400px;
    margin: 78.41px auto 0px auto;
}

.logo{
    width: 32px;
    object-fit: contain;
}

.loginBox{
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 20px;
    background-color: #161D2F;
    position: relative;
}

.skipLogin{
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgb(2, 2, 211);
    font-family: var(--font);
    font-size: 16px;
    line-height: 25px;
    cursor: pointer;
}

.skipLogin:hover{
    text-decoration: underline;
}


.loginBox_title{
    margin-bottom: 16px;
    font-family: var(--font);
    font-weight: 300;
    font-size: 32px;
    line-height: 40.32px;
    letter-spacing: -0.5px;
    color: white;
}

.loginBox_submit{
    margin-top: 16px;
    color: white;
    width: 100%;
    height: 48px;
    border-radius: 6px;
    background-color: var(--button-bg);
    border: none;
    font-family: var(--font);
    font-weight: 300;
    font-size: 15px;
    line-height: 18.9px;
    cursor: pointer;
}


.loginBox_submit:hover{
    background-color: white;
    color: #161D2F;
}

.loginBox_createAccount{
    align-self: center;
    color: white;
    font-family: var(--font);
    font-size: 15px;
    font-weight: 300;
    line-height: 18.9px;
}

.loginBox_createAccount a {
    color: #FC4747;
    cursor: pointer;
}

.errorMessage{
    display: none;
    color:#FC4747;
    font-family: var(--font);
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
}

.loginBox_createAccount a:hover {
    text-decoration: underline;
}


@media(max-width: 500px){
    .loginContainer{
        margin-top: 48px;
        gap: 58px;
        width: 327px;
    }

    .loginBox{
        width: 327px;
    }

}