.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 83px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container_icon{
    width: 32px;
    object-fit: contain;
}

.inputContainer{
    width: 100%;
    border-radius: 20px;
    background-color: var(--container-bg);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
}

.inputContainer_title{
    font-family: var(--font);
    font-weight: 300;
    font-size: 32px;
    line-height: 40.43px;
    letter-spacing: -0.5px;
    color: white;
    margin-bottom: 16px;
}

.inputContainer_submit{
    border: none;
    height: 48px;
    border-radius: 6px;
    background-color: var(--button-bg);
    color: white;
    font-family: var(--font);
    font-weight: 300;
    font-size: 15px;
    line-height: 18.9px;
    cursor: pointer;
}

.inputContainer_submit:hover{
    background-color: white;
    color: #10141E;
}

.inputContainer_login, .loginLink{
    font-family: var(--font);
    font-size: 15px;
    font-weight: 300;
    line-height: 18.9px;
}

.inputContainer_login{
    color: white;
    align-self: center;
}

.loginLink{
    color: #FC4747;
    cursor: pointer;
}

.loginLink:hover{
    text-decoration: underline;
}

.errorMessage{
    display: none;
    color:#FC4747;
    font-family: var(--font);
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
}


@media(max-width: 500px){
    .container{
        gap: 58px;
        width: 327px;
    }

    .inputContainer{
        width: 327px;
    }

}