
.content{
    width: 1280px;
    overflow: hidden;
}

@media(max-width: 1445px){
    .content{
        width: 100%;
    }
}

@media(max-width: 600px){
    .content{
        padding-left: 16px;
    }
}