.container{
    width: 100%;
    display: grid;
    grid-template-columns: 96px auto;
    gap: 36px;
}

.content{
    width: 1280px;
    overflow: hidden;
}

@media(max-width: 1445px){
    .content{
        width: 100%;
    }
}