.movieContainer{
    margin-top: 34px;
}

.tvSeriesContainer{
    margin-top: 40px;
}


.title{
    margin: 0px 0px 38px 0px;
    font-family: var(--font);
    font-weight: 300;
    font-size: 32px;
    line-height: 40.32px;
    letter-spacing: -0.5px;
    color: white;
}

.message{
    font-family: var(--font);
    font-weight: 300;
    font-size:  20px;
    line-height: 30px;
    letter-spacing: -0.2px;
    color: rgba(255, 255, 255, 0.4);
}

.allMovies{
    display: grid;
    grid-template-columns: repeat(4, 280px);
    column-gap: 40px;
    row-gap: 32px;
}


@media(max-width: 1440px){
    .allMovies{
        grid-template-columns: repeat(4, 22%);
    }
}

@media(max-width: 1175px){
    .allMovies{
        column-gap: 29px;
        row-gap: 24px;
        grid-template-columns: repeat(3, 30%);
    }
}

@media(max-width: 905px){
    .allMovies{
        column-gap: 15px;
        row-gap: 16px;
    }

}

@media(max-width: 768px){
    .title{
        margin-bottom: 24px;
    }

    .movieContainer{
        margin-top: 33px;
    }

    .tvSeriesContainer{
        margin-top: 48px;
    }
}

@media(max-width: 700px){
    .allMovies{
        grid-template-columns: repeat(2, 45%);
    }
}

@media(max-width: 600px){
    .title{
        font-size: 20px;
    } 

    .message{
        font-size: 14px;
    }
    
    .moviesContainer, .tvSeriesContainer{
        padding-left: 16px;
        margin-top: 24px;        
    }
}

@media(max-width: 430px){
    .allMovies{
        grid-template-columns: 90%;
    }
}