.grid{
    width: 100%;
    display: grid;
    grid-template-columns: 96px auto;
    gap: 36px;
}

.innerContainer{
    width: 2480px;
    overflow: hidden;
    margin-bottom: 100px;
}


@media(max-width: 2660px){
    .innerContainer{
        width: 100%;
    }
}

@media(max-width: 600px){
    .innerContainer{
        padding-left: 16px;
    }
}


@media(max-width: 768px){
    body{
        padding: 0px;
    }
    .grid{
        grid-template-columns: auto;
        padding: 23px 0px 0px 25px;
        gap: 33px;
    }
}

@media(max-width: 600px){
    .grid{
        padding: 0px;
        gap: 24px;
    }
}