.inputContainer{
    position: relative;
    border: none;
    height: 32px;
    margin-top: 32px;
    margin: 32px 0px 34px 0px
}

.searchBar{
    width: 100%;
    height: 46px;
    border: none;
    padding-bottom: 14px;
    background-color: transparent;
    padding-left: 56px;
    font-family: var(--font);
    font-size: 24px;
    font-weight: 300;
    line-height: 30.24px;
    color: white;
}

.searchBar::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.searchBar:focus{
    border-bottom: 1px solid #5A698F;
    outline: none;
}

.searchIcon{
    width: 32px;
    object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    margin: auto;
}

