.sidebar{
    width: 96px;
    min-height: 600px;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 35.41px 0px;
    border-radius: 20px;
    background-color: var(--container-bg);
}

.sidebar_icons{
    width: 32px;
    gap: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar_links{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sidebar_link{
    cursor: pointer;
    list-style-type: none;
    width: 20px;
    height: 20px;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-color: #5A698F;
}

.sidebar_link:nth-child(1){
    mask-image: url('../../Common/icons/icon-nav-home.svg');
    -webkit-mask-image: url('../../Common/icons/icon-nav-home.svg');
}

.sidebar_link:nth-child(2){
    mask-image: url('../../Common/icons/icon-nav-movies.svg');
    -webkit-mask-image: url('../../Common/icons/icon-nav-movies.svg');
}

.sidebar_link:nth-child(3){
    mask-image: url('../../Common/icons/icon-nav-tv-series.svg');
    -webkit-mask-image: url('../../Common/icons/icon-nav-tv-series.svg');
}

.sidebar_link:nth-child(4){
    mask-image: url('../../Common/icons/icon-nav-bookmark.svg');
    -webkit-mask-image: url('../../Common/icons/icon-nav-bookmark.svg');
}

.sidebar_link:hover{
    background-color: white;
}

.userImage{
    width: 40px;
    object-fit: contain;
}

@media(max-width: 768px){
    .sidebar{
        width: 97%;
        height: 72px;
        transition: width 0.2s linear;
        padding: 0px 24px;
    }

    .sidebar_icons, .sidebar_links, .sidebar{
        flex-direction: row;
    }

    .sidebar_links{
        gap: 32px;
    }

    .sidebar_icons{
        width: 70%;
    }

    .userImage{
        width: 32px;
        height: 32px;
        border: 1px solid white;
        border-radius: 100%;
    }
}

@media(max-width: 600px) {
    .sidebar{
        min-height: initial;
        width: 100%;
        border-radius: 0px;
    }

    .sidebar_logo{
        width: 25px;
    }

    .sidebar_links{
        gap: 24px;
    }

    .sidebar_link{
        width: 16px;
        height: 16px;
        text-align: center;
        mask-size: 16px 16px;
        -webkit-mask-size: 16px 16px;
    }
}
