@font-face {
    font-family: 'outfit';
    src: url('./Common/Font/Outfit-VariableFont_wght.ttf');
}

:root{
    --error: #FC4747;
}

:root{
    --font: 'outfit';
}

:root{
    --even-closer: 40;
    --closest: 30;    
    --closer: 10;
    --far: 0;
}

:root{
    --button-bg: #FC4747;
    --button-hover: white;
    --icon-hover: white;
}

:root{
    --body-bg: #10141E;
    --container-bg: #161D2F;
}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    transition: all 0.2s linear;
}


body{
    background-color: var(--body-bg);
    padding: 32px 0px 0px 32px;
}

@media(max-width: 768px){
    body{
        padding: 0px;
    }

}
